<!DOCTYPE html>
<html ng-app="demo">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" type="text/css" href="../widget/css/conversation.css"/>

    <script>
      // window.WEB_XHR_POLLING = true;
    </script>

  </head>
  <body>
    <!-- <h1>{{title}}</h1>
    <button ng-click="show()">show</button>
    <button ng-click="hidden()">hidden</button> -->
    <div  ng-controller="main">
      <rong-widget></rong-widget>
    </div>


      <script src="../lib/angular.js"></script>
      <script src="../widget/main.js"></script>

      <script src="./index.js"></script>

  </body>


</html>
